{% extends 'bootstrap/base.html' %}

{% block content %}
<html>
    <head>
        <title>Music Shmusic</title>
    </head>
    <body>
        <div><a href="/index">Music Shmusic:</a>
        <a href="/artists">Artists</a>
        {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="/newArtist">New Artist</a>
            <a href="/newVenue">New Venue</a>
            <a href="/newEvent">New Event</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="container">
            {% block app_content %}{% endblock %}
        </div>
    </body>
</html>
{% endblock %}