{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block app_content %}
    <div class ="row">
        <div class ="col-md-4">
            {{ wtf.quick_form(form)}}
        </div>
    </div>
{#{% block content %}#}
{#    <h1>{{ greeting }}</h1>#}
{#    <form action="" method="post">#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#        {{ form.name.label }}#}
{#        {{ form.name(size=50) }}#}
{#        </p>#}
{#        <p>#}
{#        {{ form.address.label }}#}
{#        {{ form.address(size=50) }}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}
{% endblock %}